<h1 mat-dialog-title>Adicionar</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>cnes</mat-label>
        <input matInput formControlName="cnes">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>cnpj</mat-label>
        <input matInput formControlName="cnpj">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>tipoEstabelecimento</mat-label>
        <input matInput formControlName="tipoEstabelecimento">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeFantasia">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>endereco</mat-label>
        <input matInput formControlName="endereco">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>cep</mat-label>
        <input matInput formControlName="cep" mask="00.000-000">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>telefone</mat-label>
        <input matInput formControlName="telefone">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onOkClick()">Salvar</button>
</div>