.main-container {
  background:white;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
}
.align-right, .icon-required {
  position: absolute;
  right: 0px;
}
.icon-required {
  color: black;
}
.inline {
  display: flex;
  flex-direction:row;
}
.input-container  {
  display: flex;
}
.child-container {
  display: flex;
  border: 1px solid;
  max-width: 600px;
}
.container {
  width: 100%;
  text-align: center;
  border: 0.5px solid;
  padding-bottom: 1%;
}
.container-form {
  margin-left: 6%;
}
.logo {
  margin-left: 15%;
  width: 15%;
  margin-bottom: 1em;
}
.title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  font-size: 2em;
}
.button-container {
  width: 100%;
}
.sub-button-container {
  width: 50%;
}