<div class="main-container">
    <div class="centered">
        <div class="inline">
            <img src="assets/images/logo-brasil.png" class="logo">
            <p class="title">Prefeitura</p>
        </div>
        <div class="child-container">
            <div class="container">
                <form [formGroup]="form" class="container-form">
                    <div class="input-container">
                        <mat-form-field>
                            <span class="group-cpf-cnpj">
                                <i class="material-icons md-18 v-middle">person</i> CPF: <a class="icon-required">*</a>
                                <input matInput  formControlName="username" mask="000.000.000-00" >
                            </span>
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field>
                            <i class="material-icons md-18 v-middle">lock</i> SENHA: <a class="icon-required">*</a>
                            <input matInput type="password" formControlName="password">
                        </mat-form-field>
                    </div>
                </form>
                <div class="inline button-container">
                    <div class="sub-button-container">
                        <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
                    </div>
                    <div class="sub-button-container">
                        <button mat-raised-button color="primary" (click)="login()"
                            [disabled]="!form.valid">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>