<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="prontuario">
    <th mat-header-cell *matHeaderCellDef> PACIENTE </th>
    <td mat-cell *matCellDef="let element"> 
      <p>
        <mat-form-field appearance="outline">
          <mat-label>PRONTUARIO </mat-label>
          <input matInput  value={{element.id}}>
        </mat-form-field>  
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>NOME </mat-label>
          <input matInput  value={{element.nome}}>
        </mat-form-field>  
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="cns">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> 
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CPF </mat-label>
          <input matInput  value={{element.cpf}} >
        </mat-form-field>  
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>ENDERECO </mat-label>
          <textarea matInput  value={{element.endereco}}> </textarea>
        </mat-form-field>  
      </p>
       </td>
  </ng-container>

  <ng-container matColumnDef="nomeMae">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> 
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CARTÃO NACIONAL DE SAUDE </mat-label>
          <input matInput  value={{element.cns}}>
        </mat-form-field>  
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>TELEFONE </mat-label>
          <input matInput  value={{element.telefone}}>
        </mat-form-field>  
      </p>
       </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> HISTORICOS</th>
    <td mat-cell *matCellDef="let element">
      <p>
      <button mat-raised-button class="iconbutton" color="primary" (click)="abrirConsultas(element)">
        CONSULTAS
      </button>
      </p>
      <p>
      <button mat-raised-button class="iconbutton" color="primary" (click)="abrirImunizacoes(element)">
        IMUNIZAÇÕES
      </button> 
      </p>
      <p>
      <button mat-raised-button class="iconbutton" color="warn" (click)="abrirExames(element)">
        EXAMES
      </button>
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>