<h1 mat-dialog-title>Consultas</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
        <table>
          <thead>
            <th>Data da Consulta</th>
            <th>Motivo da Consulta</th>
            <th>especialidade</th>
            <th>Unidade Basica de Saude</th>
            <th>Endereço UBS</th>
            <th>CEP UBS</th>
            <th>Medico</th>
            <th>CRM</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                <td>
                  <mat-form-field>
                    <input matInput [matDatepicker]="data" formControlName="data" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data disabled="false"></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="motivoConsulta"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="especialidade">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="unidadeSaude">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="endereco">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="cep" mask="00.000-00">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="medico">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="crm">
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">voltar</button>
</div>