<h1 mat-dialog-title>Detalhes</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Aluno">
        <div>
          <mat-form-field>
            <mat-label>Matricula</mat-label>
            <input matInput formControlName="matricula">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpfAluno" mask="000.000.000-00">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>faltas</mat-label>
            <input matInput formControlName="faltas" type="number">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Responsavel">
        <div>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpfResponsavel" mask="000.000.000-00">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Unidade de Ensino">
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="unidadeEnsino">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Componente Curricular">
        <table>
          <thead>
            <th>Nome</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Nota 3</th>
            <th>Nota 4</th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                <td>
                  <mat-form-field>
                    <input matInput type="text" formControlName="materiaNome">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota1">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota2">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota3">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota4">
                  </mat-form-field>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
</div>