
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="numero_contribuinte">
        <th mat-header-cell *matHeaderCellDef> CONTRIBUINTE </th>
        <td mat-cell *matCellDef="let element"> 
          <p>
            <mat-form-field appearance="outline">
              <mat-label>NUMERO CONTRIBUINTE </mat-label>
              <input matInput  value={{element.numero_contribuinte}}>
            </mat-form-field>  
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>NOME </mat-label>
              <input matInput  value={{element.nome}}>
            </mat-form-field>  
          </p>
        </td>
    </ng-container>

    <ng-container matColumnDef="tipo_contribuinte">
        <th mat-header-cell *matHeaderCellDef> TIPO CONTRIBUINTE </th>
        <td mat-cell *matCellDef="let element"> 
          <p>
            <mat-form-field appearance="outline">
              <mat-label>TIPO </mat-label>
              <input matInput  value={{element.tipo_contribuinte}}>
            </mat-form-field>  
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>DATA CADASTRAMENTO </mat-label>
              
              <input matInput type="date" value={{element.data_cadastramento}}>
            </mat-form-field>  
          </p>
        </td>
    </ng-container>

    <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> DOCUMENTAÇÃO </th>
        <td mat-cell *matCellDef="let element"> 
          <p>
            <mat-form-field appearance="outline">
              <mat-label>TIPO </mat-label>
              <input matInput  value={{element.tipo_documento}}>
            </mat-form-field>  
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>DOCUMENTO </mat-label>
              <input matInput  value={{element.documento}}>
            </mat-form-field>  
          </p>
        </td>
    </ng-container>

    <ng-container matColumnDef="imoveis" >
        <th mat-header-cell *matHeaderCellDef> IMOVEIS </th>
        <td mat-cell *matCellDef="let element" > 
          <p *ngFor="let det of element.imoveis">
            <button mat-raised-button class="iconbutton" color="primary" (click)="detalhesImovel(det)">
                Acessar Cadastro {{det.codigo_cadastro}}
              </button>
          </p>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>