<div *ngIf="userService.getIsLoggedIn(); else commun">
    <div class="page-container">
        <header>
            <div class="match-parent-horizontal">
                <button mat-button class="menu-button" (click)="sidenav.toggle()">
                    <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
                </button>
                <a routerLink="/">
                    <span class="app-title">{{title}}</span>
                </a>
                <button mat-raised-button (click)="logout()" class="bt-sair">Sair</button>
            </div>
        </header>
    </div>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
            (click)="onSidenavClick()">
            <a mat-button routerLink="/aluno">Aluno</a>
            <a mat-button routerLink="/consulta-medica">Consulta Médica</a>
            <a mat-button routerLink="/saude-territorio">Saúde Território</a>
            <a mat-button routerLink="/iptu">IPTU</a>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <ng-container *ngTemplateOutlet="commun"></ng-container>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<ng-template #commun>
    <router-outlet></router-outlet>
</ng-template>