.page-container {
    background: #fafafa;
    color: #000;
    display: flex;
    flex-direction: column;
}
.page-container a {
    color: inherit;
    text-decoration: none;
}
.page-container header {
    background: #3f51b5;
    color: #fff;
    padding: 18px 24px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.page-container header .menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}
.page-container header .app-title {
    padding: 0 3px;
}
.sidenav-container {
    height: 100%;
    flex: 1;
}
.sidenav-container .sidenav{
    min-width: 240px;
}
.sidenav-container .sidenav a {
    display: block;
    padding: 6px 24px;
    width: 100%;
    text-align: left;
}
.sidenav-container main {
    padding: 18px 24px;
}
.ng-star-inserted {
    height: 100%;
}
.match-parent-horizontal {
    width: 100%;
}
.bt-sair {
    float: right;
}