<h1 mat-dialog-title>Adicionar</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-label>Documento</mat-label>
            <input matInput formControlName="documento" mask="000.000.000-00" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>
        </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onOkClick()">Salvar</button>
</div>