<h1 mat-dialog-title>Edição</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Aluno">
        <div>
          <mat-form-field>
            <mat-label>Matricula</mat-label>
            <input matInput formControlName="matricula">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpfAluno" mask="000.000.000-00">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Serie Atual</mat-label>
            <input matInput formControlName="serieAtual" type="number">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Ano</mat-label>
            <input matInput [matDatepicker]="ano" formControlName="ano" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="ano"></mat-datepicker-toggle>
            <mat-datepicker #ano disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CH</mat-label>
            <input matInput formControlName="ch" type="number">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Total Dias</mat-label>
            <input matInput formControlName="totalDias" type="number">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>faltas</mat-label>
            <input matInput formControlName="faltas" type="number">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Responsavel">
        <div>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpfResponsavel" mask="000.000.000-00">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nomeResponsavel">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Nascimento</mat-label>
            <input matInput [matDatepicker]="nascimentoResponsavel" formControlName="nascimentoResponsavel"
              [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="nascimentoResponsavel"></mat-datepicker-toggle>
            <mat-datepicker #nascimentoResponsavel disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Unidade de Ensino">
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="unidadeEnsino">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Enredeço</mat-label>
            <input matInput formControlName="enderecoUE">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cepUE" mask="00.000-00">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Componente Curricular">
        <table>
          <thead>
            <th>Nome</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Nota 3</th>
            <th>Nota 4</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                <td>
                  <mat-form-field>
                    <input matInput type="text" formControlName="materiaNome">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota1">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota2">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota3">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" formControlName="nota4">
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button class="iconbutton" color="warn" (click)="deleteRow(i)">
                    <mat-icon class="delete">delete_forever</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="action-container">
          <button mat-raised-button (click)="addRow()">Adicionar matéria</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onOkClick()">Salvar</button>
</div>