<h1 mat-dialog-title>Imunizações</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    
        <table>
          <thead>
            <th>data</th>
            <th>Codigo</th>
            <th>Dose</th>
            <th>Nome da vacina</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                <td>
                  <mat-form-field>
                    <input matInput [matDatepicker]="data" formControlName="data" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data disabled="false"></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="codigo">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="dose">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="nomeImunobiologico">
                  </mat-form-field>
                </td>
               
              </tr>
            </ng-container>
          </tbody>
        </table>
        
      
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Voltar</button>
</div>