<h1 mat-dialog-title>Imoveis</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Imovel">

        <div>
          <mat-form-field>
            <mat-label>Codigo Cadastro</mat-label>
            <input matInput formControlName="codigo_cadastro" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>logradouro</mat-label>
            <input matInput formControlName="logradouro" >
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <mat-label>numero</mat-label>
            <input matInput formControlName="numero" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>complemento</mat-label>
            <input matInput formControlName="complemento" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>bairro</mat-label>
            <input matInput formControlName="bairro" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>cep</mat-label>
            <input matInput formControlName="cep" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>uso</mat-label>
            <input matInput formControlName="uso" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>area_terreno</mat-label>
            <input matInput formControlName="area_terreno" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>area_construida</mat-label>
            <input matInput formControlName="area_construida" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>area_ocupada</mat-label>
            <input matInput formControlName="area_ocupada" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>valor_construida</mat-label>
            <input matInput formControlName="valor_construida" >
          </mat-form-field>
        </div>

      </mat-tab>
      <mat-tab label="Impostos">
      
    <table>
          <thead>
            <th>Cod Imposto</th>
            <th>Numero Documento</th>
            <th>Data Base</th>
            <th>Parcela 1</th>
            <th>Parcela 2</th>
            <th>Parcela 3</th>
            <th>Parcela 4</th>
            <th>Total</th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="id"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="numero_documento"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput [matDatepicker]="data" formControlName="data_base" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data disabled="false"></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="vencimento_parcela1"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="vencimento_parcela2"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="vencimento_parcela3"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="vencimento_parcela4"></textarea>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <textarea matInput formControlName="total"></textarea>
                  </mat-form-field>
                </td>
                
                
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-tab>
      </mat-tab-group>  
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">voltar</button>
</div>