<h1 mat-dialog-title>Exames</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
        <table>
          <thead>
            <th>PRONTUARIO</th>
            <th>GRUPO</th>
            <th>SUBGRUPO</th>
            <th>NOME</th>
            <th>DATA</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls().controls ; let i=index">
              <tr [formGroupName]="i">
                
                <td>
                  <mat-form-field>
                    <input matInput formControlName="id">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="grupo">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="subGrupo">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput formControlName="nome">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput [matDatepicker]="dataConsulta" formControlName="data" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="dataConsulta"></mat-datepicker-toggle>
                    <mat-datepicker #dataConsulta disabled="false"></mat-datepicker>
                  </mat-form-field>
                </td>
                
              </tr>
            </ng-container>
          </tbody>
        </table>
        
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Voltar</button>
</div>