<h1 mat-dialog-title>Confimar a remoção</h1>
<div mat-dialog-content>
  <p>Aluno: {{data.nome}}</p>
  <p>matricula: {{data.matricula}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="warn" (click)="onOkClick()">Deletar</button>
</div>