<form [formGroup]="form">
  <!--<mat-form-field>
    <mat-label>CPF do responsável</mat-label>
    <input matInput formControlName="cpfResponsavel" mask="000.000.000-00">
  </mat-form-field>

  <button mat-icon-button class="add" color="primary" (click)="add()">
    <mat-icon aria-label="add">add</mat-icon>
  </button>-->
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="matricula">
    <th mat-header-cell *matHeaderCellDef> matricula </th>
    <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="nascimento">
    <th mat-header-cell *matHeaderCellDef> nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.nascimento}} </td>
  </ng-container>

  <ng-container matColumnDef="cpfAluno">
    <th mat-header-cell *matHeaderCellDef> cpfAluno </th>
    <td mat-cell *matCellDef="let element"> {{element.cpfAluno | mask:"000.000.000-00"}} </td>
  </ng-container>

  <ng-container matColumnDef="serieAtual">
    <th mat-header-cell *matHeaderCellDef> serieAtual </th>
    <td mat-cell *matCellDef="let element"> {{element.serieAtual}} </td>
  </ng-container>

  <ng-container matColumnDef="ano">
    <th mat-header-cell *matHeaderCellDef> ano </th>
    <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
  </ng-container>

  <!--<ng-container matColumnDef="ch">
    <th mat-header-cell *matHeaderCellDef> ch </th>
    <td mat-cell *matCellDef="let element"> {{element.ch}} </td>
  </ng-container>

  <ng-container matColumnDef="totalDias">
    <th mat-header-cell *matHeaderCellDef> totalDias </th>
    <td mat-cell *matCellDef="let element"> {{element.totalDias}} </td>
  </ng-container>-->

  <ng-container matColumnDef="faltas">
    <th mat-header-cell *matHeaderCellDef> faltas </th>
    <td mat-cell *matCellDef="let element"> {{element.faltas}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <!--<button mat-icon-button class="iconbutton" color="primary" (click)="edit(element)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button class="iconbutton" color="warn" (click)="delete(element)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>-->
      <button mat-icon-button class="iconbutton" color="primary" (click)="detail(element)">
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>