

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cnes">
    <th mat-header-cell *matHeaderCellDef> cnes </th>
    <td mat-cell *matCellDef="let element"> {{element.cnes}} </td>
  </ng-container>

  <ng-container matColumnDef="cnpj">
    <th mat-header-cell *matHeaderCellDef> cnpj </th>
    <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoEstabelecimento">
    <th mat-header-cell *matHeaderCellDef> Tipo de Estabelecimento </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoEstabelecimento}} </td>
  </ng-container>

  <ng-container matColumnDef="nomeFantasia">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nomeFantasia}} </td>
  </ng-container>

  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> endereco </th>
    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
  </ng-container>

  <ng-container matColumnDef="cep">
    <th mat-header-cell *matHeaderCellDef> cep </th>
    <td mat-cell *matCellDef="let element"> {{element.cep}} </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
       </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>