<h1 mat-dialog-title>Confimar a remoção</h1>
<div mat-dialog-content>
  <p>Código: {{data.id}}</p>
  <p>Unidade de Saúde: {{data.nomeFantasia}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="warn" (click)="onOkClick()">Deletar</button>
</div>